/* CSS FILE FOR THE game.html FILE */

/* # COLOR PALLETTE (From: https://coolors.co)*/

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Staatliches&display=swap'); /* copied from https://fonts.google.com/specimen/Koulen#type-tester */

.grid {
    margin-top: auto;
    margin:auto;
    /* max-width: 700px; */
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-piece-text {
    margin: 0;
    line-height: 100%;
}

button, a {
    height: auto;
    min-height: 1.99em;
    background-color: #dbd4d3;
    border:#dbd4d3;
    border-radius: 5px;
    color:#161925;
    font-size: 3em;
    padding: .35em;
    font-family: 'Staatliches', sans-serif; /* copied from https://fonts.google.com/specimen/Koulen#type-tester */
}

body {
    background-color: #FDFFFC;
}

#game-to-home {
    grid-column-start: -2;
    grid-column-end: -1;
    text-decoration: none;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    background-color: #161925;
    border:#dbd4d3;
    color:#FDFFFC;
    margin-top:10px;
}


#game-to-game {
    grid-column-start: -3;
    grid-column-end: -2;
    text-decoration: none;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
    background-color: #161925;
    border: #dbd4d3;
    color: #FDFFFC;
    margin-top: 10px;
  }


#title {
    grid-column-start: 1;
    grid-column-end: -1;

}

h1 {
    line-height: 100%;
    margin: auto;
    font-size: 14vw;
    font-family: 'Staatliches', sans-serif; /* copied from https://fonts.google.com/specimen/Koulen#type-tester */
}